
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  text-align: center;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--navbar-bg);
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav a {
  color: var(--navbar-link-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease; 
}

nav a:hover {
  color: var(--navbar-link-hover-color);
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem; 
  position: relative;
  bottom: 0;
  width: 90%;
  margin-top: 2rem;
}

footer > img {
  width: 200px;
  margin: 0;
}

footer > p {
  margin: 0;
  padding-top: 0.7rem;
}


.card {
  background: var(--card-bg);
  border: 1px solid black;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px; 
  width: 100%; 
  max-width: 300px; 
  margin: 0 auto; 
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

.card h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.card p {
  margin: 0.5rem 0;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 1.5rem;
  padding: 2rem; 
  justify-content: center; 
  max-width: 1200px;
  margin: 0 auto; 
}

.card .card-buttons {
  margin-top: auto;
}

.card .card-buttons button {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}


form {
  background: var(--form-bg);
  border: 1px solid black;
  border-radius: 8px;
  padding: 1.5rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 1rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input, form button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid black;
  box-sizing: border-box; 
}

form button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: 1px solid black;
  cursor: pointer;
  margin-top: 1rem;
}

form button:hover {
  background-color: #878787;
}

form button:active {
  transform: scale(0.98); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ccc;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


.dark {
  --navbar-bg: #121212;
  --navbar-link-color: #e0e0e0;
  --navbar-link-hover-color: #ff6347;
  --border-color: #333;
  --card-bg: #1e1e1e;
  --card-border: #444;
  --form-bg: #2c2c2c;
  --form-border: #444;
  --input-border: #555;
  --button-bg: #007bff;
  --button-text: #fff;
  --button-hover-bg: #0056b3;
  background-color: #121212;
  color: white;
}

.dark a {
  color: white;
}

.dark .card {
  background: var(--card-bg);
  border: 1px solid var(--card-border);
}

.dark form {
  background: var(--form-bg);
  border: 1px solid var(--form-border);
}

.dark nav a:hover {
  color: #ff5722; 
}

.dark form button {
  background-color: #ff5722;
}

body, nav, .card, form {
  transition: background-color 0.3s, color 0.3s;
}


.error-message {
  color: red;
}

.success-message {
  color: green;
}


.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--form-bg);
  min-height: 100vh;
}

.detail-card {
  background: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 8px;
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  color: var(--navbar-link-color);
}

.detail-card p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.detail-card strong {
  font-weight: bold;
}

.favs .card-grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
}

.contact-container {
  padding: 2rem; 
  text-align: center;
}


.contact-container h2, .contact-container p {
  margin: 0 0 1rem 0; 
  padding: 0 1rem; 
}


.light {
  --navbar-bg: #ffffff;
  --navbar-link-color: #333;
  --navbar-link-hover-color: #ff6347;
  --border-color: #ddd;
  --card-bg: #f0f0f0; 
  --card-border: #cccccc; 
  --form-bg: #f0f0f0; 
  --form-border: #cccccc; 
  --input-border: #dddddd;
  --button-bg: #007bff;
  --button-text: #fff;
  --button-hover-bg: #0056b3;
  background-color: #ffffff;
  color: #333;
}

.light .card {
  background-color: var(--card-bg);
  border: 1px solid var(--card-border); 
}

.light form {
  background-color: var(--form-bg);
  border: 1px solid var(--form-border); 
}


.light .card:hover {
  background-color: #e0e0e0; 
}

.light form button {
  background-color: var(--button-bg);
  color: var(--button-text);
}

.light form button:hover {
  background-color: var(--button-hover-bg);
}






